@mixin angle($pseudo, $flip: false, $angle: 3deg) {
    // Possible values for $pseudo are: before, after, both
    @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
        position: relative;
        z-index: 1;
        $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

        #{$selector} {
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            left: 0;
            position: absolute;
            right: 0;
            z-index: -1;
            -webkit-backface-visibility: hidden; // for Chrome Windows
        }

        @if $pseudo == 'before' {
            #{$selector} {
                top: 0;

                @if $flip {
                    transform: skewY($angle * -1);
                    transform-origin: 0 0;
                } @else {
                    transform: skewY($angle);
                    transform-origin: 100% 0;
                }
            }
        }

        @if $pseudo == 'after' {
            #{$selector} {
                bottom: 0;

                @if $flip {
                    transform: skewY($angle);
                    transform-origin: 0 100%;
                } @else {
                    transform: skewY($angle * -1);
                    transform-origin: 100%;
                }
            }
        }

        @if $pseudo == 'both' {
            &:before {
                top: 0;

                @if $flip {
                    transform: skewY($angle * -1);
                    transform-origin: 0 0;
                } @else {
                    transform: skewY($angle);
                    transform-origin: 100% 0;
                }
            }

            &:after {
                bottom: 0;

                @if $flip {
                    transform: skewY($angle);
                    transform-origin: 0 0;
                } @else {
                    transform: skewY($angle * -1);
                    transform-origin: 100%;
                }
            }
        }
    }
}

// slanted edges here
.edge--bottom {
    @include angle(after);
}

.edge--bottom--reverse {
    @include angle(after, true);
}

.edge--top {
    @include angle(before);
}

.edge--top--reverse {
    @include angle(before, true);
}

.edge--both {
    @include angle(both);
}

.edge--both--reverse {
    @include angle(both, true);
}


.art-typeahead-container {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:before {
        content: ' ';
        display: table
    }
    &:after {
        clear: both
    }
    .art-search {
        font-size: 16px;
        font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
        color: #222;
        display: flex;
        position: relative;
        z-index: 1;
        //overflow: hidden;
        //margin-bottom: 4px;

        .levels:not(:first-child) {
            &.ng-enter {
                opacity:0;
                margin-left: -200px;

            }
            &.ng-enter.ng-enter-active {
                opacity:1;
                margin-left: 0px;
            }

            &.ng-leave {
                opacity:0;
                margin-left: 0px;
            }
            &.ng-leave.ng-leave-active {
                opacity:1;
                margin-left: -100px;
            }
        }

        .levels {
            display: inline-block;
            font-weight: bold;
            padding: 10px 20px;
            margin-right: 0px;
            position: relative;
            color: #3f3f3f; //Ex 595959
            text-shadow: 0 0 8px rgba(255,255,255,0.7);
            -webkit-box-shadow: 4px 3px 3px rgba(0,0,0,0.3);
            -moz-box-shadow: 4px 3px 3px rgba(0,0,0,0.3);
            box-shadow: 4px 0px 3px rgba(0,0,0,0.3);
            /*-webkit-transition: all 500ms ease-in-out;
            -moz-transition: all 500ms ease-in-out;*/
            //transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 1s cubic-bezier(0.65, 0.05, 0.36, 1);
            transition: all 0.3s ease-in;

            @include angle(before);
            &:nth-child(1) { z-index: 10}
            &:nth-child(2) { z-index: 9}
            &:nth-child(3) { z-index: 8}
            &:nth-child(4) { z-index: 7}
            &:nth-child(5) { z-index: 6}
            &:nth-child(6) { z-index: 5}
            &:nth-child(7) { z-index: 5}

            i {
                margin-right: 10px;
                text-shadow: 0px 4px 10px rgba(255,255,255, 0.4);
                filter: dropshadow(color=#ffffff, offx=0, offy=0)
            }
            cursor: pointer;
        }
        .search-bar {
            display: inline-block;
            font-weight: 100;
            flex: 1;
            border: 1px solid #f1f1f1;
            border-bottom: 0px solid #f1f1f1;
            border-radius: 0 3px 0 0;
            outline: none;
            box-shadow: 0 0 0 rgba(0,0,0,0);
            transition: all 0.5s ease-in-out, opacity 1s ease-in-out;
        }
        .art-clear-text {
            padding: 12px 10px 10px 10px;
            color: #979292;
            font-size: 14px;
            margin-left: -31px;
            z-index: 12;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            text-decoration: none;
            &:hover {
                border-radius: 32px;
                color: #fff;
                background-color: rgba(151, 146, 146, 1);
                padding: 11px 15px 10px 15px;
            }
            /*&:focus {
                !*-webkit-animation: art-btn-color 1s forwards linear;
                -moz-animation: art-btn-color 1s forwards linear;
                -ms-animation: art-btn-color 1s forwards linear;
                -o-animation: art-btn-color 1s forwards linear;*!
                -webkit-animation: art-btn-color 0.5s linear forwards;
                -moz-animation: art-btn-color 0.5s linear forwards;
                -ms-animation: art-btn-color 0.5s linear forwards;
                -o-animation: art-btn-color 0.5s linear forwards;
                animation: art-btn-color 0.5s linear forwards;
            }*/

        }

        /*@-webkit-keyframes art-btn-color { 0% { background: #3aa48d; } 99% { background: #3aa48d; } 100% { padding: 12px 10px 10px 10px; color: #979292; background: transparent; } }
        @-moz-keyframes art-btn-color { 0% { background: #3aa48d; } 99% { background: #3aa48d; } 100% { padding: 12px 10px 10px 10px; color: #979292; background: transparent; } }
        @-ms-keyframes art-btn-color { 0% { background: #3aa48d; } 99% { background: #3aa48d; } 100% { padding: 12px 10px 10px 10px; color: #979292; background: transparent; } }
        @-o-keyframes art-btn-color { 0% { background: #3aa48d; } 99% { background: #3aa48d; } 100% { padding: 12px 10px 10px 10px; color: #979292; background: transparent; } }
        @keyframes art-btn-color { 0% { background: #3aa48d; } 99% { background: #3aa48d; } 100% { padding: 12px 10px 10px 10px; color: #979292; } }*/

    }
    .art-results {
        height: 250px;
        overflow: auto;
        border: 1px solid #ededed;
        border-radius: 0 0 3px 3px;
        padding: 4px;
        position: relative;
        z-index: 2;
        background-color: #fff;
        transition: opacity 0.5s ease-in-out;
        .open-level i {
            font-size: 12px;
            padding-right: 3px;
            color: rgba(41,128,185,1) !important;
        }
        &.art-tooltip-open {
            opacity: 0.5;
            pointer-events: none;
        }
        [kb-item] {
            cursor: pointer;
            &.kb-active {
                background: rgba(41,128,185, 0.5) !important;
            }
        }
        &.art-loading {
            ul {
                opacity: 0.4;
            }
        }
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            &:focus {
                background-color: red;
            }
            li {
                outline: none;
                padding: 10px 20px;
                height: 40px;
                border-bottom: 1px solid #f1f1f1;
                &.art-no-height {
                    height: auto;
                    padding: 0;
                    border-color: transparent;
                    thead tr {
                        background-color: darken(#fcfcfc, 5);

                        th {
                            border-left: 1px solid #ccc;
                            font-size: 12px;
                            &:first-child {
                                border-left: 0px solid #ccc;
                            }
                        }
                    }
                    tr {
                        outline: none;
                        &:nth-child(even) {
                            background-color: #fcfcfc;
                        }
                    }
                    td {
                        padding: 10px 20px;
                        height: 30px;
                        border-bottom: 1px solid #e3e3e3;
                        outline: none;
                        font-size: 12px;
                        color: #535353;
                        vertical-align: middle;
                        &:first-child {
                            font-weight: 500;
                        }
                        span {
                            vertical-align: sub;
                        }


                        .art-inner-callback-button {
                            background-color: #a6b5bd;
                            border: 0px solid #fff;
                            color: #fff;
                            padding: 3px 10px;
                            -webkit-border-radius: 3px;
                            -moz-border-radius: 3px;
                            border-radius: 3px;
                            i {
                                font-size: 14px;
                                vertical-align: middle;
                            }
                            span {
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                            &:hover {
                                background-color: darken(#a6b5bd, 4);
                            }
                        }
                    }
                }
                &:nth-child(odd) {}
                &:nth-child(even) {
                    background-color: #fcfcfc;
                }
                &.load-more {
                    cursor: pointer;
                    background-color: #595959;
                    color: #fff;
                }
            }
        }
    }
    .art-tooltip-helper {
        cursor: pointer;
        text-align: right;
        position: absolute;
        top: 43px;
        right: 19px;
        z-index: 9;
        width: 15px;
        overflow: hidden;
        height: 250px;
        transition: all 0.5s ease-in-out;
        table {
            background-color: #fff;
            transition: all 0.5s ease-in-out;
            min-height: 300px;
            min-width: 500px;
            opacity: 0;
            margin-bottom: 0px;
        }
        &.art-open {
            height: 250px;
            width: 600px;
            overflow: auto;
            table {
                opacity: 0.8;
                color: #2e2e2e;
                background-color: #efefef;
                th, td {
                    border-color: #cfcfcf;
                }
            }

        }
        > i {
            color: rgba(41,128,185, 1);
            padding-top: 16px;
        }
    }

    $green: #61bd6d;
    $blue: rgba(41,128,185, 1);
    $red: #e25041;
    $yellow: #fac51c;
    $white: #eee;
    $width: 100px;

    .art-loader {
        position: absolute;
        margin: 105px auto 0 -($width/2);
        width: $width;
        top: 0px;
        left: 50%;
        z-index: 10;
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }

    .art-circular {
        animation: rotate 2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite, color 2s ease-in-out infinite;
        stroke-linecap: round;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124px;
        }
    }

    @keyframes color {
        100%,
        0% {
            stroke: $red;
        }
        40% {
            stroke: $blue;
        }
        66% {
            stroke: $green;
        }
        80%,
        90% {
            stroke: $yellow;
        }
    }

    .art-elements-added {
        transition: all 1.2s ease-in-out;
        color: #61bd6d;
        font-size: 16px;
        background-color: transparent;
        padding: 2px 15px;
        display: inline-block;
        border-radius: 5px;
        border: 1px solid #61bd6d;
        position: absolute;
        right: 17px;
        margin-top: -37px;
        z-index: 11;
        opacity: 0.6;
        i {
            margin-right:10px;
        }
        &.ng-enter {
            opacity:0;
            margin-top: -37px;

        }
        &.ng-enter.ng-enter-active {
            opacity:0.6;
            margin-top: -150px;
        }

        &.ng-leave {
            opacity:0;
            margin-top: -150px;
        }
        &.ng-leave.ng-leave-active {
            opacity:0.6;
        }
    }
}
