<div class="ar-year-selector">
    <div class="cursor" ng-style="{'width': (buttonSize + 4) + 'px'}">

    </div>
    <button href="javascript:;"
       ng-repeat="year in yearsSelDRP track by $index"
       ng-class="{'active': year.active, 'inbetween': year.inbetween, 'draggable': dragEnabled, 'first-el': $index == 0, 'last-el': $index == (yearsSelDRP.length - 1) }"
       ng-click="selectYear(year.year)"
       ng-style="{'width': buttonSize + 'px'}"
       tabindex="{{$index}}">
        {{year.year}}
    </button>
</div>