<div class="art-typeahead-container">
    <div class="art-search">
        <div class="levels"
             ng-repeat="level in levelsActive track by $index"
             ng-if="level.isVisible"
             ng-class="{active: level.isActive}"
             ng-click="actionLevel(level, $index)"
             style="background-color: {{level.bColor}}; border-color: {{level.bColor}}"
        >
            <i style="color: {{level.color}}" class="{{level.icon}}" aria-hidden="true"></i> {{level.activeName || level.name}}
        </div>
        <input ng-style="hideInput(lastLevel)" type="text" ng-model="query" ng-model-options="{ debounce: 500 }" class="levels search-bar" placeholder="{{translations.SEARCH_FOR}} {{currentPlaceholder}}" autofocus>
        <a ng-style="hideClearInput(lastLevel)" href="javascript:;" class="art-clear-text" ng-click="query = ''"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class="art-loader" ng-if="loading">
        <svg class="art-circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
    <div style="text-align: right;" class="art-tooltip-helper" ng-click="showTooltip = !showTooltip" ng-class="{'art-open': showTooltip}">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <small class="art-tooltip">

            <table class="table table-bordered" style="width: 95%; float: right">
                <thead>
                <tr>
                    <th>{{translations.HELP_ACTION}}</th>
                    <th>{{translations.HELP_DESCRIPTION}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i class="fa fa-arrow-down" aria-hidden="true"></i> & <i class="fa fa-arrow-up" aria-hidden="true"></i></td>
                    <td valign="middle">{{translations.HELP_ARROWS_TEXT}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-mouse-pointer" aria-hidden="true"></i> {{translations.HELP_CLICK}}</td>
                    <td rowspan="2" valign="middle">{{translations.HELP_LOAD}} {{currentPlaceholder}} {{translations.HELP_VIEW}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-keyboard-o" aria-hidden="true"></i> {{translations.HELP_SPACE}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-external-link-square" aria-hidden="true"></i> {{translations.HELP_CLICK}}</td>
                    <td rowspan="2" valign="middle">{{translations.HELP_OPEN}} {{currentPlaceholder}} {{translations.HELP_LEVEL}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-keyboard-o" aria-hidden="true"></i> {{translations.HELP_ENTER}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-keyboard-o" aria-hidden="true"></i> {{translations.HELP_BACKSPACE}}</td>
                    <td valign="middle">{{translations.HELP_GO_BACK}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-mouse-pointer" aria-hidden="true"></i> {{translations.HELP_CLICK}} {{translations.HELP_LEVEL2}}</td>
                    <td valign="middle">{{translations.HELP_GO_BACK_CLICKED}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-keyboard-o" aria-hidden="true"></i> {{translations.HELP_ANY_KEY}}</td>
                    <td valign="middle">{{translations.HELP_ANY_KEY_PART1}} {{currentPlaceholder}} {{translations.HELP_ANY_KEY_PART2}}</td>
                </tr>
                </tbody>
            </table>
        </small>
    </div>
    <div class="art-results" ng-class="{'art-loading': loading, 'art-tooltip-open': showTooltip}">
        <ul kb-list ng-if="results">

            <li ng-if="allData == 'false'" ng-repeat="item in results track by $index" kb-item kb-invoke="selectItem(item, $index, $event)" data-has-index="{{$index}}" ng-keydown="focusOnSearch($event)" ng-dblclick="selectItem(item, $index, $event)">
                {{item.name}}
            </li>

            <!-- Map all the existing properties into display if there's no mapping object for this level-->

            <li class="art-no-height" ng-if="::allData == 'true'">

                <table class="table">
                    <thead>
                        <tr>
                            <th ng-if="::!mappings[activeLevel] && key != 'id'" ng-repeat="(key, value) in ::results[0]">{{key}}</th>
                            <th ng-if="::mappings && mappings[activeLevel]" ng-repeat="heading in ::mappings[activeLevel]">
                                {{heading.name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in results track by $index" kb-item kb-invoke="selectItem(item, $index, $event)" data-has-index="{{$index}}" ng-keydown="focusOnSearch($event)" ng-dblclick="selectItem(item, $index, $event)">
                            <!-- THIS SECTION HAS ALL THE ELEMENTS BOUND ONLY ONCE -->
                            <td ng-repeat="(key, value) in ::item" ng-if="::key != 'id' && key != 'artCustom'" valign="middle">

                                <!-- IF is the name cell, show the load next level icon -->
                                <span class="open-level" ng-if="::key == 'name' && !lastLevel" ng-click="selectItem(item, $index, $event, true)"><i class="fa fa-external-link-square" aria-hidden="true"></i></span>

                                <!-- IF there's no callback involved, just show the text itself -->
                                <span ng-if="::!item[key].hasCallback && mappings[activeLevel] && !item[key].artCustom" ng-style="{color: item[key].color}"> <i ng-if="::item[key].icon" class="{{::item[key].icon}}" aria-hidden="true"></i> {{::item[key].value}}</span>

                                <span ng-if="::!item[key].hasCallback && mappings[activeLevel] && item[key].artCustom"> <i ng-if="::item[key].artCustom.icon" ng-style="{color: item[key].artCustom.color}" class="{{::item[key].artCustom.icon}}" aria-hidden="true"></i> {{::item[key].value}}</span>

                                <span ng-if="::!item[key].hasCallback && !mappings[activeLevel]">{{item[key]}}</span>

                                <!-- IF there's a callback involved, show a button with the action on it -->
                                <span ng-if="::item[key].hasCallback">
                                    <button class="art-inner-callback-button" ng-click="item[key].callback($event, item)">
                                        <i ng-if="::item[key].icon" class="{{::item[key].icon}}" aria-hidden="true"></i>
                                        {{::item[key].action}}
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>

            <li ng-if="pagination && loadMore" class="load-more" ng-click="getOutsideData(false, true)">
                <i class="fa fa-plus" aria-hidden="true"></i> {{translations.LOAD_MORE}}
            </li>
        </ul>
        <ul>
            <li ng-if="!results && !loading && !tooMany">
                <i class="fa fa-ban" aria-hidden="true"></i> {{translations.NO_RESULTS}}
            </li>

            <li ng-if="!results && !loading && tooMany">
                <i class="fa fa-ban" aria-hidden="true"></i> {{translations.TOO_MANY_RESULTS}}
            </li>
        </ul>
    </div>
    <div class="art-elements-added" ng-if="pagination && addedElements"> <!--&& addedElements-->
        <i class="fa fa-plus" aria-hidden="true"></i>{{elementsAdded}}
    </div>





</div>