<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Angular artTypeahead Demo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="../dist/angular-hierarchical-typeahead.css" rel="stylesheet">
    <link href="gh-fork-ribbon.css" rel="stylesheet">


</head>
<body ng-controller="DemoCtrl" style="padding-top:0px">

<div>

    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/arthurianx/angular-hierarchical-typeahead">Star on GitHub</a>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2>angular-hierarchical-typeahead</h2>
                <p class="lead">Multiple Level TypeAhead Component</p>
            </div>

        </div>

        <div class="row" style="margin-top:50px">
            <art-typeahead art-levels="tiers" art-levels-map="tiersMappings" art-pagination="true" art-trigger="callbackID(id, type)" art-source="dataEndpoint" art-translations="translations" art-display-all="true"></art-typeahead>
        </div>



       <!-- <div class="row">

            <div class="col-md-4">
                <form class="form-horizontal" role="form">
                    <legend>Demo</legend>
                    <div class="form-group">
                        <label for="delayInput" class="col-sm-5 control-label">Years</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="delayInput" ng-model="ctrYears">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="delayInput" class="col-sm-5 control-label">Attach To</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="delayInput" ng-disabled="!ctrAttachTo" ng-model="ctrAttachTo">
                        </div>
                        <div class="col-sm-2">
                            <input type="checkbox" class="form-control" id="delayInput" ng-click="ctrAttachToEnable()">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="delayInput" class="col-sm-5 control-label">Attach Now</label>
                        <div class="col-sm-4">
                            <button ng-disabled="!ctrAttachTo" ng-click="ctrAttachNow = true">Trigger Outside Attach</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="delayInput" class="col-sm-5 control-label">Callback</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="delayInput" ng-model="ctrCallback">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="delayInput" class="col-sm-5 control-label">Drag</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="delayInput" ng-model="ctrDrag">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="delayInput" class="col-sm-5 control-label">Range</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="delayInput" ng-model="ctrRange">
                        </div>
                    </div>

                    <div class="col-sm-offset-5 col-sm-7" style="padding-right:0px">
                        <button class="btn btn-default pull-right" ng-click="demo()">Reset</button>
                    </div>
                </form>
            </div>

            <div class="col-md-offset-1 col-md-7" style="padding-top:28px">

                <h5>Directive Demo</h5>
                <p><input type="text" ng-model="defaultModel"/></p>
                <div year-selector="{years: ctrYears, model: 'defaultModel', attachTo: ctrAttachTo, attachNow: ctrAttachNow, externalCallback: ctrCallback, range: ctrRange, drag: ctrDrag }"></div>

                <div class="delayed-attachment">
                    <legend>Outside attachment</legend>
                    <p>Delayed & triggered attachment will happen here.</p>
                </div>
            </div>

        </div>-->

        <div class="row">
            <div class="col-md-12">
                <form action="" class="form-horizontal">
                    <legend>Available Actions</legend>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="fa fa-arrow-down" aria-hidden="true"></i> & <i class="fa fa-arrow-up" aria-hidden="true"></i></td>
                                <td valign="middle">Move up and down on the list with keyboard arrows</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-mouse-pointer" aria-hidden="true"></i> CLICK</td>
                                <td rowspan="2" valign="middle">Send callback to controller with the element selected, for opening a new view etc.</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-keyboard-o" aria-hidden="true"></i> SPACE</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-mouse-pointer" aria-hidden="true"></i> + <i class="fa fa-mouse-pointer" aria-hidden="true"></i> DOUBLE-CLICK</td>
                                <td rowspan="2" valign="middle">Open the element in a new Level</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-keyboard-o" aria-hidden="true"></i> ENTER</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-keyboard-o" aria-hidden="true"></i> BACKSPACE</td>
                                <td valign="middle">Go back one level</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-mouse-pointer" aria-hidden="true"></i> CLICK on a Level</td>
                                <td valign="middle">Go back to the clicked Level</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-keyboard-o" aria-hidden="true"></i> ANY KEY</td>
                                <td valign="middle">While on the item list any key you press will focus the search input and make a new search.</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form">
                    <legend>Component API / Options</legend>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Option</th>
                            <th>Value</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>art-typeahead</td>
                            <td></td>
                            <td>The main directive declaration. Example usage `< art-typeahead levels="tiers" pagination="true" trigger="callbackID(id, type)" source="dataEndpoint"></ art-typeahead>`</td>
                        </tr>
                        <tr>
                            <td>art-levels</td>
                            <td>Object</td>
                            <td>Mandatory. An object containing levels description. Object accepted: `[{name: "Organisation", icon: "fa fa-users", color: "#3f3f3f", bColor: "#a6b5bd"}]`</td>
                        </tr>

                        <tr>
                            <td>art-levels-map</td>
                            <td>Object</td>
                            <td>Optional. A mapping object for each level or for any level, but if you to make a map for the second level, the object must look like [[],[{map}]]. When a map is set,
                            only the keys from the map will be displayed, you can also send a callback button for a row. A map example looks like this: `$scope.tiersMappings = [[{name: "Building Code", value: 'buildingCode'}, {name: "Building Name", value: 'name'}, {name: 'Action', value: $scope.customMapAction, actionName: 'Set Active Organisation'}]]`.
                            The callback function will send the item clicked back in the controller, you can do actions like activate something separate than the normal click / space call.</td>
                        </tr>

                        <tr>
                            <td>art-display-all</td>
                            <td>boolean</td>
                            <td>Optional. If set to true it will display all the properties of the data received in a table</td>
                        </tr>

                        <tr>
                            <td>art-trigger</td>
                            <td>function</td>
                            <td>Mandatory. A function to callback the choice selected in the controller, response is two parameters, `id` and `type`, the latter being the level name. </td>
                        </tr>
                        <tr>
                            <td>art-source</td>
                            <td>promise-enabled function</td>
                            <td>Mandatory. The service that is called to get the data, parameters are `type`, `query` and `pagination`, `type` is the current level, `pagination` is a Boolean. The logic is on you in the controller. The received data should be arrays like [{id: 12, name: 'SomeItem'}], preprocess in the controller if necessary.</td>
                        </tr>
                        <tr>
                            <td>art-pagination</td>
                            <td>boolean</td>
                            <td>Optional. If `true`, there will be a load more list item, and the `source` call will contain a true pagination parameter. The logic is on you in the controller.</td>
                        </tr>
                        <tr>
                            <td>art-min-query</td>
                            <td>integer</td>
                            <td>Otional. Query length to trigger a search.</td>
                        </tr>
                        <tr>
                            <td>art-max-results</td>
                            <td>integer</td>
                            <td>Otional. Max results to show before displaying the user a message to user the search bar.</td>
                        </tr>
                        <tr>
                            <td>art-translations</td>
                            <td>Object</td>
                            <td>Otional. An object with translations for the whole component static messages / text. Get the object on the github page.</td>
                        </tr>


                        </tbody>
                    </table>

                </form>
            </div>
        </div>


    </div>

</div>


<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-vs-repeat/src/angular-vs-repeat.js"></script>
<script src="../dist/angular-hierarchical-typeahead.js"></script>
<script src="demo.js"></script>

</body>
</html>
